<div class="search-container" >
    <form class="form-horizontal form-search" id="search_form" role="search" ng-submit="search()">

        <input type="text" class="form-control searchinput" id="searchbox" name="search" placeholder="Near :" ng-model = "placeName">

        <button class="btn btn-default" id="submit_button" type="submit"><i class="glyphicon glyphicon-search"></i></button>


    </form>
    <div class="social_media">
        <a href="https://twitter.com/intent/tweet?text=Hello%20world">
            <img title="Twitter" alt="Twitter" src="https://socialmediawidgets.files.wordpress.com/2014/03/01_twitter1.png" width="35" height="35" />
        </a>
        <a href="[full link to your LinkedIn]">
            <img title="LinkedIn" alt="LinkedIn" src="https://socialmediawidgets.files.wordpress.com/2014/03/07_linkedin1.png" width="35" height="35" />
        </a>
        <a class="fb-xfbml-parse-ignore" alt="Share on Facebook" target="Share on Facebook" href="https://www.facebook.com/sharer/sharer.php?u=http%3A//www.cisco.com/c/en/us/products/index.html";
           src=sdkpreparse">
            <img title="Share on Facebook" alt="Share on Facebook" src="https://socialmediawidgets.files.wordpress.com/2014/03/02_facebook1.png" width="35" height="35" />
        </a>
        <a href="pinterestaddress">
            <img title="Pinterest" alt="Pinterest" src="https://socialmediawidgets.files.wordpress.com/2014/03/13_pinterest1.png" width="35" height="35" />
        </a>
    </div>
</div>


</div>